# Compiler files
cache/
out/
lib/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env
*.md
node_modules
wallet.txt
.anvil-state.json
broadcast/
